<section class="bg-white" id="my-projects">
  <div class="container text-center p-2 py-md-5">
    <div>
      <h2 class="fw-bold">MY PROJECT</h2>
      {{#if isRate}}
      <div class="rating d-flex flex-row-reverse">
        <input type="radio" name="rating-filter" id="star5" value="5" class="d-none" />
        <label for="star5" class="star">&#9733;</label>

        <input type="radio" name="rating-filter" id="star4" value="4" class="d-none" />
        <label for="star4" class="star">&#9733;</label>

        <input type="radio" name="rating-filter" id="star3" value="3" class="d-none" />
        <label for="star3" class="star">&#9733;</label>

        <input type="radio" name="rating-filter" id="star2" value="2" class="d-none" />
        <label for="star2" class="star">&#9733;</label>

        <input type="radio" name="rating-filter" id="star1" value="1" class="d-none" />
        <label for="star1" class="star">&#9733;</label>

        <input type="radio" name="rating-filter" id="star0" value="0" checked class="d-none">
        <label for="star0" class="star">&#8635;</label>
      </div>

      {{/if}}
    </div>
    <div class="row col" id="cardProject">

      {{#each projects}}

      <div class="col-12 col-md-5 col-lg-4 mt-3">
        <div class="card " id="{{this.id}}">

          <a href="/projects/{{this.id}}" class="d-block m-2">
            <img src="{{this.imageUrl}}" class="rounded-2 card-img-top" alt="foto" height="230" />
          </a>
          <div class="card-body p-2 mb-2">
            <div class="d-flex flex-column">
              <h5 class="card-title text-start fs-5 fw-medium mb-0">{{this.projectName}}</h5>
              <div class="text-start rates" data-rating="{{this.avg}}">
                {{#each (rateIndex this.avg)}}
                <label style=" color: #ffcc00;" class="fs-2">&#9733;</label>
                {{else}}
                <label style=" color: #e9e9e9;" class="fs-2">&#9733;</label>
                <label style=" color: #e9e9e9;" class="fs-2">&#9733;</label>
                <label style=" color: #e9e9e9;" class="fs-2">&#9733;</label>
                <label style=" color: #e9e9e9;" class="fs-2">&#9733;</label>
                <label style=" color: #e9e9e9;" class="fs-2">&#9733;</label>

                {{/each}}
              </div>
            </div>
            <div class="d-flex">
              <h5 class="card-title text-start fs-6 fw-light mb-0 w-100">{{ this.User.name}}
                -
                {{this.User.role}}

              </h5>
              <p class="fw-light w-100 fs-6 text-end">{{durationCreated
                this.createdAt
                }}</p>
            </div>

            <p class="card-subtitle text-start fs-6 mb-3 text-secondary">durasi : {{duration this.startDate
              this.endDate}} </p>
            <p class="card-text text-justify">{{description this.description}}
              {{#if (isOver this.description)}}
              <a class="text-primary cursor-pointer" href="/projects/{{this.id}}">
                baca selengkapnya</a>
              {{/if}}
            </p>

            <div class="d-flex my-4">
              {{#each this.technologies}}
              <div>
                <img src="{{getIcon this}}" alt="{{this}}" width="50" />
              </div>

              {{/each}}
            </div>
            {{#if ../isRate}}
            <div class="text-start w-100 d-flex gap-2 ">
              <a href="/testimonials/rate/{{this.id}}" class="text-white w-100"><button class="btn btn-dark w-100">Rate
                  this project</button></a>

            </div>
            {{/if}}
            {{#if (andIf (checkSelected undifined ../isRate) (checkSelected this.userId ../user.id))}}
            <div class="text-start w-100 d-flex gap-2 ">
              <a href="/projects/edit/{{this.id}}" class="text-white w-100"><button
                  class="btn btn-dark w-100">Edit</button></a>
              <form action="/projects/delete/{{this.id}}" method="POST" class="w-100" id="delete-{{this.id}}">
                <button type="button" class="btn btn-dark w-100" id="btn-delete-{{this.id}}"
                  onclick="deleteProject({{this.id}})">Delete</button>
              </form>
            </div>
            {{else}}

            <div style="height: 35px; ">

            </div>
            {{/if}}
          </div>
        </div>
      </div>
      {{else}}
      <div class="col-12 col-md-6 col-lg-4 mt-3 w-100">
        <h5 class="text-center">Tidak ada project</h5>
      </div>
      {{/each}}

    </div>
  </div>
</section>